#include <physical_layouts.dtsi>

/ {
    default_layout: keymap_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  120   27     500   170    77>
            , <&key_physical_attrs 100 100  243    8    1000   293    58>
            , <&key_physical_attrs 100 100  336   58    1000   386   108>
            , <&key_physical_attrs 100 100  808   58 (-1000)   858   108>
            , <&key_physical_attrs 100 100  901    8 (-1000)   951    58>
            , <&key_physical_attrs 100 100 1024   27  (-500)  1074    77>
            , <&key_physical_attrs 100 100    0  186       0     0     0>
            , <&key_physical_attrs 100 100  112  127     500   162   177>
            , <&key_physical_attrs 100 100  226  107    1000   276   157>
            , <&key_physical_attrs 100 100  320  156    1000   370   206>
            , <&key_physical_attrs 100 100  824  156 (-1000)   874   206>
            , <&key_physical_attrs 100 100  918  107 (-1000)   968   157>
            , <&key_physical_attrs 100 100 1032  127  (-500)  1082   177>
            , <&key_physical_attrs 100 100 1144  186       0     0     0>
            , <&key_physical_attrs 100 100    0  286       0     0     0>
            , <&key_physical_attrs 100 100  104  226     500   154   276>
            , <&key_physical_attrs 100 100  210  206    1000   260   256>
            , <&key_physical_attrs 100 100  303  255    1000   353   305>
            , <&key_physical_attrs 100 100  840  255 (-1000)   890   305>
            , <&key_physical_attrs 100 100  934  206 (-1000)   984   256>
            , <&key_physical_attrs 100 100 1040  226  (-500)  1090   276>
            , <&key_physical_attrs 100 100 1144  286       0     0     0>
            , <&key_physical_attrs 100 100  259  369    2500   309   419>
            , <&key_physical_attrs 100 100  353  433    4000   403   483>
            , <&key_physical_attrs 100 100  791  433 (-4000)   840   483>
            , <&key_physical_attrs 100 100  885  369 (-2500)   935   419>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        layout {
            physical-layout = <&default_layout>;
            positions = <>;
        };
    };
};
