# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_EHRBL_LEFT

config ZMK_KEYBOARD_NAME
    default "ehrbl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EHRBL_LEFT || SHIELD_EHRBL_RIGHT
config ZMK_SPLIT
    default y
endif