# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_EHRBL_LEFT_CENTRAL
    def_bool $(shields_list_contains,ehrbl_left_central)

config SHIELD_EHRBL_LEFT_PERIPHERAL
    def_bool $(shields_list_contains,ehrbl_left_peripheral)

config SHIELD_EHRBL_RIGHT
    def_bool $(shields_list_contains,ehrbl_right)

config SHIELD_EHRBL_DONGLE
    def_bool $(shields_list_contains,ehrbl_dongle)

